body, .pure-g-r [class *= "pure-u"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; decoration: no }
h1, .container { margin: 20px 50px; }
h1 a { text-decoration: none; color: black; }
h1 a:hover { text-decoration: underline; color: black; }
.pure-button { vertical-align: top; font-size: 95%; }
#out, #in, #env { font: 12px/1.5 monospace; }
#out { height: 200px; overflow: auto; }
#in { width: 300px; border-width: 1px; border-color: #bbb; }
.in { color: #444; }
.out { color: #449; }
.error { color: #944; }
#mocha { margin-top: 0; }
