body, .pure-g-r [class *= "pure-u"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; decoration: no }
.container { width: 900px; margin: 0 auto; }
@media only screen and (max-width: 900px) {
    .container { margin: 0; width: 100%; } }
h1 a { text-decoration: none; color: black; }
h1 a:hover { text-decoration: underline; color: black; }
.pure-button { vertical-align: top; font-size: 95%; }
#out, #in, #env { font: 12px/1.5 monospace; }
#out { height: 200px; overflow: auto; margin-right: 20px; }
#in { width: 300px; }
.in { color: #444; }
.out { color: #449; }
.error { color: #944; }
#env .var { float: left; background-color: #EEEEEE; margin: 1px 1px 0 0; padding: 3px; }
#env .var span { display: inline-block; width: 100px; }
#mocha { margin: 0; }
